.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: Avenir;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.sf-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%), no-repeat top center url(../images/sf.jpg);
  background-size: cover;
  position: relative;
  color: #FFFFFF;
}
.splash {
  padding-top: 10px;
  box-shadow: #21110B 0px 0px 10px 1px;
}
.main-content {
  font-size: 16px;
}
.welcome-text {
  text-align: center;
  padding: 100px 0;
  font-family: Avenir-Light;
  text-shadow: 1px 1px 1px black;
}
.welcome-text h2 {
  margin: 0
}
.main-section {
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
}
.main-section p {
  width: 80%;
}
.summary {
  background: linear-gradient(to bottom, #2B292E 21%, #53646A 100%);  color: seashell;
  font-family: Avenir-Light;
  text-shadow: 1.5px 1px 0.5px black;
  font-size: 2em;
}
.last-year {
  font-size: 1.5em;
}
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  flex-wrap: wrap;
  margin: 20px 0;
}
.logo {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 150px;
  min-height: 150px;
  background-position: center center;
}
#google {
  background-image: url('../images/google.png');
}
#fb {
  background-image: url('../images/facebook.png');
}
#seq {
  background-image: url('../images/seq.png');
}
#stripe {
  background-image: url('../images/stripe.png');
}
#lsvp {
  background-image: url('../images/lsvp.png');
}
#pinterest {
  background-image: url('../images/pin.png');
}
#airbnb {
  background-image: url('../images/airbnb.png');
}
#bridgewater {
  background-image: url('../images/bridgewater.png');
}
#hcp {
  background-image: url('../images/hcp.png');
}
.this-year {
  font-size: 1.5em;
}
.signature {
  font-size: 1.5em;
}
p {
  margin: 0;
  line-height: 1.5em;
}
#faq p {
  margin-bottom: 3em;
}
.nav-pills > li > a {
  font-weight: bold;
  color: #FFF;
}
.nav-pills > li > a:focus, .nav-pills > li > a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
