/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.nav a:hover {
  background: none !important;
}
.nav a {
  color: black !important;
  background: none !important;
}
.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: Avenir;
  background: url("../images/grey.png");
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.sf-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%), no-repeat top center url(../images/sf.jpg);
  background-size: cover;
  position: relative;
  color: #FFFFFF;
}
.splash {
  padding-top: 10px;
  box-shadow: #000 0px 0px 40px 0px;
}
.main-content {
  font-size: 16px;
	font-family: Avenir-Light;
  background-color: #FFF;
  box-shadow: #000 0px 0px 10px 0px;
  margin-top: -80px;
  position: relative;
  margin-bottom: 20px;
  padding:40px;
  border-radius: 2px;
}
.main-content hr {
	max-width: 20%;
	height: 4px;
	background-color: #CCC;
	margin: 80px auto;
}
.welcome-text {
  text-align: center;
  padding: 160px 0 200px;
  font-family: Avenir-Light;
}

.welcome-text h2 {
  margin: 0;
  opacity: 0.6;
}
.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up {
	margin: 50px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign-up__btn {
	padding: 10px;
	width: 200px;
	border: black;
	box-shadow: 0px 1px 5px black;
	border-radius: 2px 2px;
	text-align: center;
	color: black;
	font-size: 18px;
}
.sign-up__btn:hover {
	text-decoration: none;
	color: black;
	box-shadow: 0px 1px 4px black;
}
.sign-up__btn:active {
	color: black;
	text-decoration: none;
	box-shadow: 0px 1px 3px black;
}
.sign-up__btn:focus {
	color: black;
	text-decoration: none;
	box-shadow: 0px 1px 3px black;
}
.sign-up__btn:visited {
	color: black;
	text-decoration: none;
	box-shadow: 0px 1px 3px black;
}
.summary {
  font-family: Avenir-Light;
  font-size: 1.5em;
  text-align: center;
}
.main-text {
  font-size: 1.2em;
}
.prev-partners {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  margin-top: 80px;
}
.prev-partners p {
  text-align: center;
  font-size: 1.5em;
  padding-top: 20px;
  margin-bottom: -30px;
}
.prev-partners h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 0.4px 0.5px 0.5px black;
}
.logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.logo {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100px;
  min-height: 50px;
  background-position: center center;
  margin: 20px;
}
#google {
  background-image: url('../images/google.png');
}
#harvard {
  background-image: url('../images/harvard.png');
}
#fb {
  background-image: url('../images/facebook.png');
}
#seq {
  background-image: url('../images/seq.png');
}
#stripe {
  background-image: url('../images/stripe.png');
}
#lsvp {
  background-image: url('../images/lsvp.png');
}
#pinterest {
  background-image: url('../images/pin.png');
}
#airbnb {
  background-image: url('../images/airbnb.png');
}
#bridgewater {
  background-image: url('../images/bridgewater.png');
}
#hcp {
  background-image: url('../images/hcp.png');
}
.this-year {
  font-size: 1.5em;
}
.signature {
  font-size: 1.5em;
}
p {
  margin: 0;
  line-height: 1.5em;
  width: 100%;
}
#faq p {
  margin-bottom: 3em;
}
#contact {
  font-family: Avenir-Light;
  font-size: 1.5em;
  padding: 60px 0;
  text-align: center;
}
#contact a {
}
#contact a:hover {
  text-decoration: none;
}
#contact a:active {
  text-decoration: none;
}
#contact a:focus {
  text-decoration: none;
}
.nav-pills > li > a {
  font-weight: bold;
  color: #FFF;
}
.nav-pills > li > a:focus, .nav-pills > li > a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    min-width: 100px;
  }
}
