.cl-effect-3 a {
  padding: 8px 0
}

.cl-effect-3 a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, .1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(10px);
  transform: translateY(10px)
}

.cl-effect-3 a:focus:after, .cl-effect-3 a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0
}

.nav a, .nav a:hover {
  background: none!important
}

.nav a {
  color: #000!important
}

.footer, .header, .marketing {
  padding-left: 15px;
  padding-right: 15px
}

body {
  font-family: Avenir;
  background: url(../images/grey.png)
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px
}

.sf-background {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .8)), no-repeat top url(../images/sf.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .8)), no-repeat top url(../images/sf.jpg);
  background-size: cover;
  position: relative;
  color: #fff
}

.splash {
  padding-top: 10px;
  box-shadow: 0 0 40px 0 #000
}

.main-content {
  font-size: 16px;
  font-family: Avenir-Light;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #000;
  margin-top: -80px;
  position: relative;
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 2px
}

.main-content hr {
  max-width: 20%;
  height: 4px;
  background-color: #ccc
}

.welcome-text {
  text-align: center;
  padding: 100px 0;
  font-family: Avenir-Light
}

.welcome-text h2 {
  margin: 0;
  opacity: .6
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.call-to-action {
  margin: 50px 0;
  width: 100%
}

.call-to-action, .call-to-action__btn, .call-to-action__btn:link, .call-to-action__btn:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.call-to-action__btn, .call-to-action__btn:link, .call-to-action__btn:visited {
  padding: 10px;
  width: 200px;
  border: 1px solid hsla(0, 0%, 100%, .8);
  border-radius: 2px 2px;
  text-align: center;
  color: hsla(0, 0%, 100%, .8);
  font-size: 18px;
  margin: 5px;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 0 10px 0 #000;
  min-height: 70px;
  max-height: 70px
}

.call-to-action__btn:active, .call-to-action__btn:focus, .call-to-action__btn:hover {
  border-color: #fff;
  color: #fff
}

.summary {
  font-family: Avenir-Light;
  font-size: 1.5em;
  text-align: center
}

.main-text {
  font-size: 1.2em
}

.prev-partners {
  margin: 0;
  padding: 0;
  padding-bottom: 50px
}

.prev-partners p {
  text-align: center;
  font-size: 1.5em;
  padding-top: 20px;
  margin-bottom: -30px
}

.prev-partners h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100px;
  min-height: 50px;
  background-position: 50%;
  margin: 20px
}

#google {
  background-image: url(../images/google.png)
}

#harvard {
  background-image: url(../images/harvard.png)
}

#fb {
  background-image: url(../images/facebook.png)
}

#seq {
  background-image: url(../images/seq.png)
}

#stripe {
  background-image: url(../images/stripe.png)
}

#angle {
  background-image: url(../images/angle.png)
}

#gc {
  background-image: url(../images/gc.jpeg)
}

#atomic {
  background-image: url(../images/atomic.png)
}

#cadre {
  background-image: url(../images/cadre.png)
}

#orchard {
  background-image: url(../images/orchard.png)
}

#insight {
  background-image: url(../images/insight.png)
}

#yc {
  background-image: url(../images/yc.png)
}

#rdv {
  background-image: url(../images/rdv.png)
}

#palantir {
  background-image: url(../images/palantir.png)
}

#lsvp {
  background-image: url(../images/lsvp.png)
}

#pinterest {
  background-image: url(../images/pin.png)
}

#airbnb {
  background-image: url(../images/airbnb.png)
}

#bridgewater {
  background-image: url(../images/bridgewater.png)
}

#hcp {
  background-image: url(../images/hcp.png)
}

#hcny {
  background-image: url(../images/hcny.png)
}

#froth {
  background-image: url(../images/froth.png)
}

#fin {
  background-image: url(../images/fin.png)
}

#addepar {
  background-image: url(../images/addepar.png)
}

#boxgroup {
  background-image: url(../images/boxgroup.png)
}

#generalcatalyst {
  background-image: url(../images/generalcatalyst.png)
}

#goldmansachs {
  background-image: url(../images/goldmansachs.png)
}

#janestreet {
  background-image: url(../images/janestreet.jpeg)
}

#mark43 {
  background-image: url(../images/mark43.png)
}

#oscar {
  background-image: url(../images/oscar.jpg)
}

#thrive {
  background-image: url(../images/thrive.jpg)
}

#twosigma {
  background-image: url(../images/twosigma.png)
}

#via {
  background-image: url(../images/via.png)
}

#a16z {
  background-image: url(../images/a16z.png)
}

#rootvc {
  background-image: url(../images/rootvc.png)
}

#nea {
  background-image: url(../images/nea.jpg)
}

#square {
  background-image: url(../images/square.jpg)
}

#quora {
  background-image: url(../images/quora.png)
}

#fund1517 {
  background-image: url(../images/1517.png)
}

#rockhealth {
  background-image: url(../images/rockhealth.png)
}

#aws {
  background-image: url(../images/aws.png)
}

#bloombergbeta {
  background-image: url(../images/bloombergbeta.png)
}

#emerald {
  background-image: url(../images/emerald.png)
}

#alleninstitute {
  background-image: url(../images/alleninstitute.png)
}

#amazon {
  background-image: url(../images/amazon.jpg)
}

#boeing {
  background-image: url(../images/boeing.jpg)
}

#code {
  background-image: url(../images/code.png)
}

#convoy {
  background-image: url(../images/convoy.jpg)
}

#expedia {
  background-image: url(../images/expedia.png)
}

#galvanize {
  background-image: url(../images/galvanize.png)
}

#intrepidlearning {
  background-image: url(../images/intrepidlearning.png)
}

#madrona {
  background-image: url(../images/madrona.jpg)
}

#pioneersquarelabs {
  background-image: url(../images/pioneersquarelabs.png)
}

#pixvana {
  background-image: url(../images/pixvana.png)
}

#poppy {
  background-image: url(../images/poppy.png)
}

.signature, .this-year {
  font-size: 1.5em
}

p {
  margin: 0;
  line-height: 1.5em;
  width: 100%
}

#faq p {
  margin-bottom: 3em
}

#contact {
  font-family: Avenir-Light;
  font-size: 1.5em;
  padding: 60px 0;
  text-align: center
}

#contact a:active, #contact a:focus, #contact a:hover {
  text-decoration: none
}

.nav-pills>li>a {
  font-weight: 700;
  color: #fff
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
  color: #000;
  background-color: hsla(0, 0%, 100%, .4)
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #000;
  background-color: #fff
}

@media screen and (min-width:768px) {
  .container {
    max-width: 730px
  }
  .footer, .header, .marketing {
    padding-left: 0;
    padding-right: 0
  }
  .header {
    margin-bottom: 30px
  }
  .jumbotron {
    border-bottom: 0
  }
}

@media screen and (max-width:768px) {
  .logo {
    min-width: 100px
  }
  .call-to-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
